*, *:active, *:hover, *:before, *:after {
  box-sizing: border-box;
}

.inner {
  max-width: 700px;
  margin: 0 auto;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d7d2cd;
}
.task-list li {
  padding: 20px 10px;
  border-bottom: 1px solid #d7d2cd;
  display: flex;
  align-items: center;
  position: relative;
}

.task-list li.done span {
  text-decoration: line-through;
}
.task-list li label {
  width: calc(100% - 100px);
  display: block;
  cursor: pointer;
}
.task-list li span {
display: block;
}
.task-list li .btn {
  display: none;
  width: 80px;
  position: absolute;
  right: 10px; 
  padding: 0.4em 1em;
  font-size: 13px;
  z-index: 10;
}
.task-list li:hover .btn {
  display: block;
}

.inputForm {
  margin-bottom: 40px;
  background: #f9f3ee;
  padding: 40px 0;
  border-bottom: 1px solid #d7d2cd;
}
.inputForm .inner  {
  display: flex;
}
.inputForm .input {
  width: 80%;
  font-size: 15px;
  outline: none;
  border: solid 3px #d7d2cd;
  padding: 10px;
  border-radius: 7px;
  margin-right: 10px;
}
.inputForm .input:focus {
  background: #f9f9f0;
}
.inputForm .btn {
  width: 20%;
}
.btn {
  font-size: 15px;
  cursor: pointer ;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 7px;
  outline: none;
}
.btn:active {
  transform: translateY(4px);
  border-bottom: none;
  margin-bottom: 4px;
}
.btn.is-delete {
  background-color: #d86681;
  border-bottom-color: #956270;
}

.checkbox-input {
  display: none;
}
.checkbox-label {
  padding-left: 30px;
  position: relative;
  margin-right: 20px;
}
.checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #d7d2cd;
  border-radius: 4px;
}
.checkbox-input:checked + .checkbox-label {
  color: #999;
}
.checkbox-input:checked + .checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}