attrs==20.3.0
boto3==1.17.43
botocore==1.20.43
click==7.1.2
Flask==1.1.2
flask-expects-json==1.5.0
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==1.1.1
pyrsistent==0.17.3
python-dateutil==2.8.1
s3transfer==0.3.6
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
zipp==3.4.1